# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
terraform.tfvars
.terraform.lock.hcl

# Secrets
*.pem
.env

# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Database
*.db
